<!-- <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">

    <path
      d="M50,75
      L25,25
      Q37.5,12.5 50,25
      Q62.5,12.5 75,25
      z"
      style="fill: none; stroke: green; stroke-width: 3"
    />
  </svg> -->

<svg #heart_pink width="100" height="100" xmlns="http://www.w3.org/2000/svg">
  <!-- <path
    d="M50,62.5
      l-18.75,-25
      q12.5,-18.75 18.75,0
      q12.5,-18.75 18.75,0
      z"
    style="fill: rgb(236, 29, 191); stroke: rgb(229, 29, 236); stroke-width: 3"
  /> -->
  <path
    d="M50,62.5
    q-12,-9 -12,-18
    q12.5,-18.75 18.75,0
    q12.5,-18.75 18.75,0
    q0,9 -18,25
    z"
    style="fill: rgb(236, 29, 191); stroke: rgb(229, 29, 236); stroke-width: 3"
  />
</svg>
<svg #heart_red width="100" height="100" xmlns="http://www.w3.org/2000/svg">
  <!-- <path
    d="M50,62.5
      l-18.75,-25
      q12.5,-18.75 18.75,0
      q12.5,-18.75 18.75,0
      z"
    style="fill: rgb(236, 43, 29); stroke: rgb(201, 27, 85); stroke-width: 3"
  />
   -->
  <path
    d="M50,62.5
    q-12,-9 -12,-18
    q12.5,-18.75 18.75,0
    q12.5,-18.75 18.75,0
    q0,9 -18,25
    z"
    style="fill: rgb(236, 43, 29); stroke: rgb(201, 27, 85); stroke-width: 3"
  />
</svg>
<svg #heart_cyan width="100" height="100" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M50,62.5
    q-12,-9 -12,-18
    q12.5,-18.75 18.75,0
    q12.5,-18.75 18.75,0
    q0,9 -18,25
    z"
    style="fill: rgb(29, 205, 236); stroke: rgb(27, 123, 201); stroke-width: 3"
  />
</svg>
<canvas #canvas></canvas>
@if (!is_my_valentine) {
<div class="valentine_question_container">
  <div style="color: rgb(220, 20, 103); font-size: large">
    Will you be my valentine?
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    "
  >
    <button (pointerdown)="$event.stopPropagation(); start_runner()">Yes</button>
    <button>No</button>
    <button
      class="maybe_button"
      (pointerdown)="$event.stopPropagation(); start_runner()"
    >
      <span>Maybe</span>
    </button>
  </div>
</div>
} @if (is_my_valentine) {
<div class="controls" (pointerdown)="$event.stopPropagation()">
  <!-- <input type="checkbox" [(ngModel)]="color_cycle" /> Cycle Background Color -->
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
    "
  >
    <div (pointerdown)="color_cycle = !color_cycle">
      {{ color_cycle ? "Stop Cycling" : "Cycle Background Color" }}
    </div>
    @if (color_cycle) {
    <div (pointerdown)="set_white_black()">
      {{ white_black === "white" ? "What about black?" : "What about white?" }}
    </div>
    }
  </div>
  <div (pointerdown)="auto_remove_placed_hearts = !auto_remove_placed_hearts">
    {{
      auto_remove_placed_hearts
        ? "Stop Autoremoving Hearts"
        : "Auto Remove Placed Hearts"
    }}
  </div>
  <div (pointerdown)="export_images()">Export Images</div>
  <div (pointerdown)="export_collage()">Export Collage</div>
</div>
}
