:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: .5rem;
    background-color: hsl(170, 100%, 50%);

}

div.header {
    background-color: hsl(40, 100%, 50%);

}

div.footer {

}