:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: .5rem;
    background-color: hsl(170, 100%, 50%);

}

div.header {
    background-color: hsl(40, 100%, 50%);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

div.main-content {
    flex-grow: 1;
    border: 3px solid black;
}

div.footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: hsl(170, 46%, 25%);
    color: white;
}