/* You can add global styles to this file, and also import other style files */
body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

div.main-content {
  > :nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // background-color: rgb(211, 195, 199);
    // overflow-y: hidden;
  }
}
